<h2>Account Verification</h2>

<%= form_for(resource, as: resource_name, url: verification_path(resource_name), method: :post) do |f| %>

  <%= devise_error_messages! %>

  <%- resource_class.fields_for_verification.each do |field| %>
    <div class="field">
      <%= f.label field %><br />
      <%= f.text_field field, autofocus: true %>
    </div>
  <%  end  %>

  <div class="actions">
    <%= f.submit "Verify" %>
  </div>
<% end %>
